@font-face {
    font-family: "Lobster";
    src: url("Lobster.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


h1 {
    font-family: Lobster;
    color: #2e1572;
}


.buttons {
    width: 40%;
    height: 40%;
}

.like, .edit, .trash {
    width: 2.3em;
    height: 2.3em;
    left: 95%;
    position: absolute;
}

.like {
     bottom: 1em;
 }

.edit {
    bottom: 4em;
}

.trash {
    bottom: 7em;
}

.buttons:hover, .edit:hover, .like:hover, .trash:hover {
    box-shadow: 0 0 5px #6a5acd
}

.bodyclass {
    background-color: #dacafb;
    margin: 0;
}

.footerclass {
    color: #232323;
    background-color: #dacafb;
    text-align: center;
    font-family: Helvetica;
    font-size: 0.8em;
}

.menu {
    background-color: #dacafb;
    border: 0.1em solid #2e1572;
    position: fixed;
    padding:1em;
    width: 22%;
    margin-top: 0.5%;
    margin-right: 5%;
    margin-left: 73%;
    margin-bottom: 2%;
}

#tagsanddate {
    display: inline-block;
    margin-top: 1%;
    margin-left: 0;
}

#addphoto {
    display: inline-block;
    position: relative;
    text-align: right;
    margin-right: 0;
    width: 6%;
    vertical-align: middle;
}

#exit {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: 2%;
    width: 5%;
    vertical-align: middle;
}

#header {
    color: Black;
    text-align: center;
    font-family: Helvetica;
    background-color: #ffffff;
}

#logo {
    width: 50%;
    height: 50%;
}

#photologo {
    display: inline-block;
    position: relative;
    width: 10%;
    vertical-align: super;
}

#photo {
    display: inline-block;
    position: relative;
    width: 100%;
}

#portalname {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 60%;
}

#username {
    display: inline-block;
    margin: auto;
    position: relative;
    text-align: center;
    width: 7%
}

.longbuttons {
    display: inline-block;
    width: 20%;
    margin-left: 40%;
}

.longbuttons:hover {
    box-shadow: 0 0 5px #6a5acd
}

.posts{
    margin-left:0;
    margin-right:30%;
    background-color: #ffffff;
}
#post{
    font-family: Helvetica;
    margin-bottom: 0;
    position: relative;
}

.lenta{
    margin-left: 1%;
    margin-top: 0;
}

#strauthor, #strdate, #strtext, #strhashtags {
    margin-top: 0;
    text-align: left;
    font-family: Helvetica;
}

#strdate {
    text-align: left;
    margin-top: 0;
    display: inline-block;
}

#strauthor {
    text-align: center;
    margin-bottom: 0;
}

#strtext {
    margin-top: 0.5%;
    font-size: larger;
    margin-bottom: 0;
}

#strhashtags {
    color: #2e1572;
    margin-bottom: 0;
    margin-top: 0;
}
